.up-padding{
	margin-top: 5%;
	
margin-left: 40%;
	}
	.up-padding1{
	margin-top: 5%;

	}
	
	
.t1{
	text-align: center;

	
}

.t5{
		width: 20%;
}
.t2{
	font-size: 25px;
	}

	
	
	.t4{
	font-size: 20px;
	width: 100%;
	}
	
	
	.t3{
		width: 100%;
		background-color: blue;
	}
	
	th, td {
    border-bottom: 1px solid #ddd;
}

